<head>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          우리가 눈발이라면 - 안도현
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        우리가 눈발이라면 <br>
          허공에 쭈빗쭈빗 흩날리는 <br>
          진눈깨비는 되지 말자 <br> <br>
          세상이 바람 불고 춥고 어둡다 해도 <br>
          사람이 사는 마을  <br>
          가장 낮은 곳으로 <br>
          따뜻한 함박눈이 되어 내리자 <br> <br>
          우리가 눈발이라면 <br>
          잠 못든 이의 창문 가에서는 <br>
          편지가 되고 <br> <br>
          그이의 깊고 붉은 상처 윙 ㅔ돋는 <br>
          새살이 되자
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          겨울 사랑 - 박노해
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
       사랑하는 사람아 <br>
          우리에게 겨울이 없다면 <br>
          무엇으로 따듯한 포옹이 가능하겠느냐 <br>
          무엇으로 우리 서로 깊어질 수 있겠느냐 <br> <br>
          이 추운 떨림이 없다면 <br>
          꽃은 무엇으로 피어나고 <br>
          무슨 기운으로 향기를 낼 수 있겠느냐 <br>
          나 언 눈 뜨고 그대를 기다릴 수 있겠느냐 <br> <br>
          눈보라 치는 겨울밤이 없다면 <br>
          추워 떠는 자의 시린 마음을 무엇으로 헤아리고 <br>
          내 온몸을 녹이는 <br>
          몇 평의 따듰한 방을 고마워하고 <br>
          자기를 벗어버린 희망 하나 커 나올 수 있겠느냐 <br> <br>
          아아 겨울이 온다 <br>
          추운 겨울이 온다 <br>
          떨리는 겨울 사랑이 온다
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          겨울나기 - 도종환
          </button>
        </h2>
      </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          하늘과 땅에서 얻은 것들 다 되돌려주려고<br>
          고갯마루 건넛산을 바라보는 <br>
          스님의 뒷모습처럼<br>
          겨울을 나는 나무들이 있다<br><br>
          이제는 꽃 한 송이 남지 않고<br>
          수레바퀴 지나간 자국 아래<br>
          부스러진 잎사귀와 끌려간 줄기의 흔적만 희미한데<br>
          그래도 뿌리 하나로 겨울을 나는 꽃들이 있다<br><br>
          비바람 뿌리고 눈서리 너무 길어<br>
          떨어진 잎 이세상 거리에 황망히 흩어진 뒤<br>
          뿌리까지 얼고 만 밤<br>
          씨앗 하나 살아서 겨울을 나는 것들도 있다<br><br>
          이 겨울 우리 몇몇만<br>
          언 손을 마주 잡고 떨고 있는 듯 해도<br><br>
          모두들 어떻게든 살아 견디고 있다<br>
          모두들 어떻게든 살아 이기고 있다
          
        
        </div>
    </div>
  </div>
</div>
</body>