<head>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          눈 위에 쓰는 겨울 시 - 홍시화
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        누구는 종이 위에 <br>
          시를 쓰고 <br>
          누구는 사람 가슴에 <br>
          시를 쓰고 <br>
          누구는 자취없는 허공에 대고  <br>
          시를 쓴다지만 <br> <br>
          나는 십이월의 눈 위에 <br>
          시를 쓴다 <br> <br>
          흔적도 없이 사라질 <br>
          나의 시
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          겨울 편지 - 이해인
        </button>
      </h2>
      </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        친구야 <br>
          네가 사는 곳에도 <br>
          눈이 내리니? <br> <br>
          산 위에바다 위에 장독대 위에 <br>
          하얗게 내려 쌓이는 눈만큼이나 <br> <br>
          너를 향한 그리움이 눈사람되어 <br>
          눈 오는 날 <br> <br>
          눈처럼 부드러운 네 목소리가 <br>
          조용히 내리는 것만 같아 <br> <br>
          눈처럼 깨끗한 네 마음이 <br>
          하얀 눈송이로 날리는 것만 같아 <br> <br>
          나는 자꾸만 네 이름을 불러본다.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          눈 내리는 밤 - 강소천
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        말 없이<br>
          소리 없이<br>
          눈 내리는 밤<br><br>
          누나도 잠이 들고<br>
          엄마도 잠이 들고<br><br>
          말 없이<br>
          소리 없이<br>
          눈 내리는 밤<br><br>
          나는 나하고<br>
          얘기하고 싶다.
      </div>
    </div>
  </div>
</div>
</body>