<head>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          겨울강 - 정호승
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        꽝꽝 언 겨울강이 <br>
          왜 밤마다 쩡쩡 울음소리를 내는지 <br>
          너희는 아느냐 <br> <br>
          별들도 잠들지 못하고 <br>
          왜 끝내는 겨울강을 따라 <br>
          울고야 마는지 <br>
          너희는 아느냐 <br> <br>
          산 채로 인간의 초고추장에 <br>
          듬뿍 찍혀 먹힌 <br>
          어린 빙어들이 너무 불쌍해 <br> <br>
          겨울강이 참다 참다 끝내는  <br>
          터뜨린 울음인 줄을
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          겨울 일기 - 문정희
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        나는 이 겨울을 누워 지냈다.<br>
          사랑하는 사람을 잃어버려<br>
          염주처럼 윤나게 굴리던<br>
          독백도 끝이나고<br>
          바랍도 불지 않아<br>
          이 겨울 누워서 편히 지냈다<br><br>
          저 들에선 벌거벗은 나무들이<br>
          추워 울어도<br>
          서로 서로 기대어 숲이 되어도<br>
          나는 무관해서<br><br>
          문 한 번 열지 않고<br>
          반추동물처럼 죽음만 꺼내 씹었다.<br>
          나는 누워서 편히지냈다.<br>
          사랑하는 사람을 잃어버린<br>
          이 겨울
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          겨울 강가에서 - 안도현
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        어린 눈발들이, 다른데도 아니고<br>
          강물 속으로 뛰어내리는 것이<br>
          그리하여 형체도 없이 녹아 내리는 것이<br>
          강은,<br>
          안타까웠던 것이다<br>
          그래서 눈발들이 물위에 닿기 전에<br>
          몸을 바꿔 흐르려고<br>
          이리저리 자꾸 뒤척였는데<br>
          그때마다 세찬 강물소리가 났던 것이다<br>
          그런 줄도 모르고<br>
          계쏙 철없이 철없이 눈은 내려,<br>
          강은,<br>
          어젯밤부터<br>
          눈을 제 몸으로 받으려고<br>
          강의 가장자리부터 살얼음을 깔기 시작한 것이었다.
      </div>
    </div>
  </div>
</div>
</body>