<head>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          풀꽃 - 나태주
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
       자세히 보아야 예쁘다
          <br>
        오래 보아야 사랑스럽다
          <br>
          <br>
        너도 그렇다.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          꽃 - 김춘수
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
       내가 그의 이름을 불러주기 전에는<br>
       그는 다만 하나의 몸짓에 지나지 않았다. <br> <br>
       내가 그의 이름을 불러 주었을 때 <br>
       그는 나에게로 와서 꽃이 되었다. <br> <br>
       내가 그의 이름을 불러준 것처럼 <br>
       나의 이 빛깔과 향기에 알맞은 <br>
       누가 나의 이름을 불러다오. <br> <br>
       그에게로 가서 나도 그의 꽃이 되고 싶다. <br> <br>
       우리들은 모두 무엇이 되고 싶다. <br>
       나는 너에게 너는 나에게 <br>
       잊히지 않는 하나의 의미가 되고 싶다.
          
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          봄의 연가 - 이해인
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        우리서로 <br>
          사랑하면 <br>
          언제라도 봄 <br> <br>
          겨울에도 봄 <br>
          여름에도 봄 <br> <br>
          어디에나 <br>
          봄이 있네 <br> <br>
          몸과 마음이 <br>
          봄이라 불렀고 <br>
          너는 내게 와서 <br>
          봄이 되었다. <br> <br>
          우리서로 <br>
          사랑하면 <br> <br>
          살아서도 <br>
          죽어서도 <br>
          언제라도 봄
      </div>
    </div>
  </div>
</div>
</body>