<head>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          봄길 - 정호승
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        길이 끝난 곳에도 <br>
          길이 있다 <br>
          길이 끝난 곳에서도 <br>
          길이 되는 사람이 있다 <br>
          스스로 봄길이 되어 <br>
          끝없이 걸어가는 사람이 있다 <br>
          강물은 흐르다가 멈추고 <br>
          새들은 날아가 돌아오지 않고 <br>
          하늘과 땅사이의 모든 꽃잎은 흩어져도 <br>
          보라 <br>
          사랑이 끝난 곳에서도 <br>
          사랑으로 남아있는 사람이 있다 <br>
          스스로 사랑이 되어 <br>
          한없이 봄길을 걸어가는 <br>
          사람이 있다
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          꽃씨를 닮은 마침표처럼 - 이해인
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        못견디게 힘든 때에도 <br>
          다시 기뻐하고 <br>
          다시 시작하여 <br>
          끝내는 꽃씨를 닮은 <br>
          마침표 찍힌 한 통의 <br>
          아름다운 편지로 <br>
          매일을 살고싶다 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          그대 앞에 봄이 잇다 - 김종해
        </button>
      </h2>
      </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        우리 살아가는 일 속에 <br>
          파도 치는 날, 바람 부는 날이 <br>
          어디 한 두번이랴 <br> <br>
          그런 날은 조용히 닾을 내리고 <br>
          오늘 일을 잠시라도 <br>
          낮은 곳에 묻어두어야 한다 <br> <br>
          우리 사랑하는 일 또한 그 같아서 <br>
          파도치는 날, 바람 부는 날은 <br>
          높은 파도를 타지 않고 <br>
          낮게 낮게 밀물져야 한다 <br> <br>
          사랑하는 이여 <br>
          상처받지 않은 사랑이 어디 있으랴 <br>
          추운 겨울 다 지내고 <br>
          꽃 필 차례가 바로 그대 앞에 있다
        </div>
    </div>
    </div>
</div>
</body>