<head>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          봄비 - 김용택
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        비가 오네요 <br>
          봄비 지요 <br>
          땅이 젖고 <br>
          산이 젖고 <br>
          나무들이 젖고 <br>
          나는 그대에게 <br>
          젖습니다 <br>
          앞강에 <br>
          물고기들 오르는 소리에 <br>
          문득 새벽잠이 <br>
          깨었습니다
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          그랬다지요 - 김용택
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        이게 아닌데 <br>
          이게 아닌데 <br>
          사는 게 이게 아닌데 <br>
          이러는 동안 <br>
          어느새 봄이 와서 꽃은 피어나고 <br>
          이게 아닌데 이게 아닌데 <br>
          그러는 동안 봄이 가며 <br>
          꽃이 집니다 <br>
          그러면서, <br>
          그러면서 사람들은 살았다지요 <br>
          그랬다지요
          
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          봄의 기상 - 김은식
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        봄은 작은 풀씨를 깨우기 위해 <br>
          간밤에 비를 내렸다 <br> <br>
          생명인양 묻어 두면 싹을 틔우는 봄 <br>
          가슴에 붇어 둔 것들을 틔우려 하네 <br> <br>
          담장 옆에 <br>
          번지듯 돋아나는 새싹들 <br> <br>
          언땅을 녹이고 <br>
          근심의 돌을 밀치고 <br>
          아침햇살 앞에 기지개를 켠다 <br> <br>
          봄은 일제히 돋아나, 번지는 <br>
          희망, 그리움, 기다림의 씨앗들로 <br> <br>
          우리 가슴에 묻어둔 <br>
          해묵은 풀씨의 이름들을 깨우려 하네
      </div>
    </div>
  </div>
</div>
</body>